#dash {
  padding: 0;
  margin: 0;
  width: calc(100% - 2em);
  height: 100%;
}

#welcome {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2em;
  padding-left: 2em;
  margin: 1em 0;
}


.aux-list {
  min-width: 15em;
  width: 47%;
  background-color: white;
  border: var(--border-light) 1px solid;
  border-radius: 5px;
  padding: .5em;
}

@media screen and (max-width: 750px) {

  .aux-list {
    width: 100%;
    margin-bottom: 1em;
  }
}